
/* SECTION HERO */
.home-sectionhero{
    .h1{
        position: relative;
        z-index: 1;
    }
    .extra-1{
        display: inline-block;
        position: relative;
        transform: scaleX(1.05);
        transition: transform 1s cubic-bezier(0.440, 0.000, 0.010, 1.000);
        &:before{
            content:'';
            position: absolute;
            top: 0%;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: #000;
            transition: transform 1s cubic-bezier(0.440, 0.000, 0.010, 1.000);
            transform: translateX(0%);
        }
    }
    p{
        position: relative;
        z-index: 1;
    }
}
.home-sectionhero-elimg{
    &:nth-child(1){
        right: calc(50% + 450px);
        bottom: calc(50% - 20px);
    }
    &:nth-child(2){
        left: calc(50% + 30px);
        bottom: calc(50% + 250px);
    }
    &:nth-child(3){
        left: calc(50% + 500px);
        top: calc(50% - 250px);
    }
    &:nth-child(4){
        top: calc(50% + 250px);
        right: calc(50% + 150px);
    }

    opacity: 0;
    transform: translateY(200px) skewY(10deg);
    transition: transform 1500ms cubic-bezier(0.540, 0.005, 0.000, 1.000), opacity 2s ease;

    &.style-ready {
        transition: all 100ms ease;
        transition-delay: 0s !important;
    }
}
.home-sectionhero{
    &.style-ready{
        .extra-1{
            transform: scaleX(1);
            &:before{
                transform: translateX(100%);
            }
        }
        .home-sectionhero-elimg{
            &:nth-child(1){
                transition-delay: 0.1s;
            }
            &:nth-child(2){
                transition-delay: 0.2s;
            }
            &:nth-child(3){
                transition-delay: 0.4s;
            }
            &:nth-child(4){
                transition-delay: 0.3s;
            }
            transform: translate(0px);
            opacity: 1;
        }
    }
}
.home-sectionhero-imgp{
    transition: filter 0.25s ease;
    &:nth-child(1){
        filter: opacity(100%);
    }
    &:nth-child(2){
        filter: opacity(0%);
    }
}
.home-sectionhero-elimg{
    &:hover{
        .home-sectionhero-imgp{
            &:nth-child(1){
                filter: opacity(0%);
            }
            &:nth-child(2){
                filter: opacity(100%);
            }
        }
    }
}

/* SECTION 1 */
.home-section1-tab{
    transition: color 0.25s ease;
    &.style-active{
        color: #000000;
    }
}
.home-section1-illu{
    display: none;
    &.style-show{
        display: block;
    }
}
.home-section1-content{
    display: none;

    &.style-show{
        display: block;
    }
}

/* SECTION 2 */
.home-section2{
    position: relative;
}
.home-section2-sticky{
    position: sticky;
    top: 120px;
    overflow: hidden;
}
.home-section2-slider{
    display: inline-flex;
}
.home-section1-slider{
    transition: transform 0.25s ease;
    &.style-active1{
        transform: translateY(0%);
    }
    &.style-active2{
        transform: translateY(100%);
    }
}
@keyframes floatation {
    0% { transform: rotate(0deg) translateX(10px) rotate(0deg); }
    100%{ transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

/* SECTION 3 */
.home-section3{
    transition: background-color 0.5s ease;
    .home-section3-titleicnblack{
        display: block;
    }
    .home-section3-titleicnwhite{
        display: none;
    }

    h2{
        transition: color 0.5s ease;
    }

    .home-section3-containertitle {
        p{
            transition: color 0.5s ease;
        }
    }

    .home-section3-eltext{
        h3{
            transition: color 0.5s ease;
        }
        p{
            transition: color 0.5s ease;
        }
    }

    &.style-black{
        background-color: #000;

        h2{
            color: #FFF;
        }
        .home-section3-titleicnblack{
            display: none;
        }
        .home-section3-titleicnwhite{
            display: block;
        }

        .home-section3-containertitle {
            p{
                color: #FFF;
            }
        }

        .home-section3-eltext{
            h3{
                color: #FFF;
            }
            p{
                color: #FFF;
            }
        }
    }
}

/* SECTION 5 */
.home-section5-containerillu{
    img{
        
        &:nth-child(2){
            animation: floatation linear 7s infinite;
            animation-delay: -0.1s;
        }
        &:nth-child(3){
            animation: floatation linear 12s infinite;
            animation-delay: -0.4s;
        }
        &:nth-child(4){
            animation: floatation linear 5s infinite;
            animation-delay: -1s;
        }
        &:nth-child(5){
            animation: floatation linear 7s infinite;
            animation-delay: -2s;
        }
        &:nth-child(6){
            animation: floatation linear 4s infinite;
            animation-delay: -0.3s;
        }
        
    }
}

/* SECTION 6 */
.home-section6-el{
    .home-section6-elvideo{
        visibility: hidden;
    }
    .home-section6-eltext{
        transition: opacity 0.25s ease;
    }
    &:hover{
        .home-section6-eltext{
            opacity: 1;
        }
    }
}

/* SECTION 7 */
.home-section7{
   .home-section7-quote{
        display: none;
        &.style-show{
            display: block;
        }
    }
}
.home-section7-containerbtn{
    user-select: none;
}

/* SECTION 9 */
.home-section9-tab{
    &.style-active{
        h3{
            color: #000000;
        }
    }
}
.home-section9-slider{
    transition: transform 0.5s ease;
    &.style-active1{
        transform: translateX(0%);
    }
    &.style-active2{
        transform: translateX(100%);
    }
}
.home-section9-list{
    display: none;
    &.style-show{
        display: block;
    }
}


/* SECTION 11 */
.home-section11-el{
    &:nth-child(1){
        right: calc(50% + 450px);
        top: calc(50% - 200px);
    }
    &:nth-child(2){
        left: calc(50% + 50px);
        bottom: calc(50% + 120px);
    }
    &:nth-child(3){
        left: calc(50% + 500px);
        top: calc(50% + 50px);
    }

    &:hover{
        .home-section11-img{
            &:nth-child(1){
                filter: opacity(0%);
            }
            &:nth-child(2){
                filter: opacity(100%);
            }
        }
    }
}

.home-section11-img{
    transition: filter 0.25s ease;
    &:nth-child(1){
        filter: opacity(100%);
    }
    &:nth-child(2){
        filter: opacity(0%);
    }
}

